@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Light_gray);
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}
.main_container{
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    display: block;
    height: 497px;
    width: 325px;
    padding: 13px;
}

.qr_container img{
    border-radius: 10px;
    height: 290px;
    width: 100%;
}
.details_container{
    text-align: center;
    padding: 15px 13px;
    height: 191px;
    width: 100%;
}
.header{
    color: var(--Dark_blue);
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    margin-bottom: 13px;
}
.description p{
    font-size: 16.6px;
    color: var(--Grayish_blue);
    font-weight: 400;
}
.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width:768px) {
    
    
}